@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body {
    margin: 0;
    background: url('world.png') no-repeat;
    background-size: cover;
}

h1 {
    margin: 30px 0 30px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    min-width: 800px;
}

.container {
    margin: auto;
    max-width: 800px;
    perspective: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    position: relative;
    margin: 20px;
    height: 200px;
    width: 200px;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
    transition: all 0.7s linear;
    transform-style: preserve-3d;
    box-sizing: border-box;
}

.front,
.back {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 40px;
    border-radius: 20px;
}

.front {
    backface-visibility: hidden;
    background-color: aquamarine;
    z-index: 2;
}

.back {
    background-color: cyan;
    transform: rotateY(180deg);
    z-index: 1;
}

.card:hover {
    transform: rotateY(180deg);
}
